# Visual Studio
.vs/
[Bb]in/
[Ob]j/
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Others
.idea/
.vscode/
node_modules/
